body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}
.mdc-text-field--filled  .mat-mdc-floating-label  {
  width:calc(100% +  20px);

}
.mdc-text-field--outlined  .mat-mdc-floating-label  {
  width:calc(100% - 20px) !important;

}